.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.t-0{
  top: 0;
}

.t-8{
  top: 8px;
}

.l-8{
  left: 8px
}

.bg-red{
  background-color: #FF6D60;
}

.bg-green{
 background-color: #8EAC50;
}

.bg-grey{
  background-color: #31363F;
}

.navbar{
  width: 100%;
  height: 64px;
  background-color: white;
}

.content-container{
  margin-top: 48px;
}

.card-status{
  top: 8px;
  left: 8px;
  padding: 4px 6px;
  border-radius: 4px;
  color: white;
}